---
# main Sass file needs front matter
---

@import "minimal-mistakes";

.feature__item .archive__item-teaser {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center; #flex-start isleft
}

.feature__item .archive__item-teaser img {
  max-height: 120px;
  width: auto;
  object-fit: contain;
}

.feature__item .archive__item {
  height: 100%;
}
